@import 'variables';
* {
    box-sizing: border-box;
}
body {
    font-family: $primary-font;
    color: black;
    overflow-x: hidden; 
}

a {
    color: black;

    &:hover {
        color: black;
    }
}

.container {
    max-width: 1390px;
    margin: auto;
    padding: 0 15px;
    width: 100%;
}

.container-large {
    max-width: 1770px;
    margin: auto;
    padding: 0 15px;
    width: 100%;
}

.header {

    .header-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 100px;

        .main-menu-block {
            .hamburger {
                display: none;
            }

            .main-menu {
                .contact-block {
                    display: flex;
                    padding: 40px 0 15px 0;
                    justify-content: flex-end;

                    .email {
                        display: block;
                        padding-right: 50px;

                        a {
                            position: relative;
                            padding-left: 30px;
                            color: $medium-green;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 27.82px;
                            letter-spacing: 0.32px;

                            &:after {
                                display: block;
                                position: absolute;
                                content: '';
                                left: 0;
                                top: 50%;
                                background-image: url(../img/ico_envelope.png);
                                width: 22px;
                                height: 17px;
                                transform: translateY(-50%);
                            }
                        }
                    }

                    .telephone {
                        display: flex;

                        a.first {
                            position: relative;
                            padding-left: 30px;

                            &:after {
                                display: block;
                                position: absolute;
                                content: '';
                                left: 0;
                                top: 50%;
                                background-image: url(../img/ico_phone.png);
                                width: 22px;
                                height: 22px;
                                transform: translateY(-50%);
                            }
                        }

                        a {
                            color: $medium-green;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 27.82px;
                            letter-spacing: 0.32px;
                        }

                        span {
                            display: block;
                            padding: 0 15px;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 27.82px;
                            color: $medium-green;
                        }
                    }
                }

                .menu {
                    display: flex;

                    .item {
                        padding: 0 20px;

                        &:last-child {
                            padding-right: 0;
                        }

                        a {
                            display: block;
                            padding: 15px 0;
                            font-size: 16px;
                            font-weight: 400;
                            position: relative;

                            &:hover,
                            .active {
                                font-weight: 700;

                                &:after {
                                    width: 100%;
                                }
                            }

                            &:after {
                                position: absolute;
                                display: block;
                                content: '';
                                height: 4px;
                                border-radius: 2px;
                                background-color: $light-green;
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 0;
                                transition: all 0.5s ease;
                            }
                        }
                    }
                }
            }
        }

        .logo {}
    }
}

.main-content {
    height: calc(100vh - 192px);
    margin-top: -25px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-image: url(../img/bg.png);
    background-size: 60%;
    background-position: right top;
    background-repeat: no-repeat;

    .slider-block {
        max-width: 530px;

        h1 {
            font-family: $secondary-font;
            font-size: 162px;
            font-weight: 700;
            line-height: 162px;
            text-transform: uppercase;
            letter-spacing: 2.4px;
            margin: 0;
            margin-bottom: 30px;
        }

        .swip-navi {
            display: flex;
            position: relative;
            margin-top: 30px;
            justify-content: space-between;

            .nav {
                position: relative;
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .swiper-button-prev {
                    position: static;
                    width: 37px;
                    height: 16px;
                    background-image: url(../img/arrow-left.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    left: 0;
                    top: 0;
                    transform: translateY(0);
                    margin-top: 0;
                }

                .swiper-button-next {
                    position: static;
                    width: 37px;
                    height: 16px;
                    background-image: url(../img/arrow-right.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    left: 0;
                    top: 0;
                    transform: translateY(0);
                    margin-top: 0;
                    margin-left: 5px;
                }
            }
        }
    }
}

.swiper-container-horizontal>.swiper-pagination-progressbar,
.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: 8px;
    left: 0;
    top: 0;
    border-radius: 4px;
}

.swiper-pagination-progressbar {
    background: #f3f3f3;
    position: relative;
    margin-top: 100px;
    border: 1px solid #dedede;
    background-color: #f3f3f3;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #119759;
    border: 1px solid #119759;
}


.text {
    font-size: 18px;
    font-weight: 300;
    line-height: 27.82px;
    letter-spacing: 0.36px;
}

.aboutUs {
    padding-bottom: 120px;
    position: relative;

    .bg1 {
        position: absolute;
        right: 0;
        bottom: -100px;
        z-index: -1;
    }
    .bg2 {
        position: absolute;
        left: 0;
        bottom: -200px;
        z-index: -1;
    }
}

.sector {
    h2 {
        padding-top: 110px;
        border-top:1px solid $light-grey;
        margin:0;
        padding-bottom: 80px;

        span {
            font-size: 72px;
            font-weight: 700;
            line-height: 72px;
            letter-spacing: 1.44px;        
            position: relative;

            &:after {
                display: block;
                position: absolute;
                content: '';
                width: 126px;
                height: 94px;       
                background-image: url(../img/elips.png);
                background-size: contain;
                left: -35px;
                top: -40px;
            }
        }   
    }
}

.prizeList {
    padding-bottom: 110px;
    position: relative;

    .moneyBg {
        position:absolute;
        right: 100px;
        bottom: -50px;
        z-index: -1;
    }

    .withIco {
        font-size: 20px;
        font-weight: 700;
        line-height: 27.82px;
        position: relative;
        padding-left: 60px;
        margin-bottom: 25px;

        &:after {
            width: 35px;
            height: 35px;
            display: block;
            position: absolute;
            content: '';
            background-image: url(../img/ico_info.png);
            background-size: contain;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .greenInfo {
        color: #32ae53;
        font-size: 24px;
        font-weight: 700;
        line-height: 27.82px;
        text-transform: uppercase;
        letter-spacing: 0.48px;
    }
}

.calculatorWrap {
    background-image: url(../img/calcBg.png);
    background-position: center;
    background-size: 120% 100%;

    .calc {
        padding: 85px 0;

        .title {
            color: #ffffff;
            font-size: 36px;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: 0.72px;
            margin-bottom: 20px;

            span {
                font-weight: 400;
                letter-spacing: 0.72px;
            }
            
        }
        .calcBlock {
            display: flex;
            justify-content: space-between;

            .prizeInput {
                input {
                    min-width: 320px;
                    height: 49px;
                    border-radius: 20px;
                    background-color: #ffffff;
                    line-height: 49px;
                    color: #000000;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 0.32px;
                    padding: 0 30px;
                    border:none;
                }
            }

            .calcEqal {
                display: flex;
                align-items: center;

                label {
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0.32px;
                    margin-right: 15px;
                }

                button {
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0.32px;
                    display: flex;
                    height: 49px;
                    padding: 0 25px;
                    border-radius: 20px;
                    background-color: #000000;
                    border:2px solid black;
                    margin-left: 5px;
                    transition: all 0.4s ease;

                    &:hover {
                        color: black;
                        background-color: transparent;
                    }

                    span {
                        font-weight: 400;
                        letter-spacing: 0.32px;
                        display: block;
                        margin-left: 5px;
                    }
                }
            }

            .equalBlock {
                display: flex;
                align-items: center;
                color: #ffffff;
                font-size: 22px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.44px;

                .light {
                    font-weight: 400;
                }
                .label {
                    margin-right: 30px;
                    display: block;
                }
                .current {
                    display: block;
                    margin-right: 10px;
                }
            }
        }
    }
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: none;
    border-radius: 20px;
    height: 49px;
    line-height: 49px;
    width: 116px;
    position: relative;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 24px;
    padding-right: 20px;
    line-height: 49px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 49px;
    position: absolute;
    top: 1px;
    right: 1px;
    background-image: url(../img/arrow-down.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}
.select2-container {
    width: 116px !important;
}

.faq {
    padding-bottom: 100px;
    position: relative;

    .bg4 {
        position: absolute;
        right: 0;
        bottom:0;
        z-index: -1;
    }
    h2 {
        border-top:none;
    }

    .title {
        font-size: 20px;
        font-weight: 700;
        line-height: 27.82px;
        letter-spacing: 0.4px;
        padding-bottom: 45px;
    }
    .item {
        .itemTitleWrap {
            font-size: 24px;
            font-weight: 300;
            line-height: 27.82px;
            letter-spacing: 0.48px;
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
            cursor: pointer;

            .itemArrow {
                width: 22px;
                height: 22px;
                background-image: url(../img/faq-arrow.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                transform: rotate(0);
                transition: all 0.4s ease;
            }

        }
        .itemContent {
            padding-top: 0px;
            position: relative;
            font-size: 18px;
            font-weight: 300;
            line-height: 27.82px;
            letter-spacing: 0.36px;
            padding-bottom: 0px;
            border-bottom:1px solid #dedede;
            opacity: 0;
            height: 0;
            transition: all 0.4s ease;
            margin-bottom: 0px;
            display: none;

            &:after {
                display: block;
                position: absolute;
                content:'';
                width: 120px;
                height: 4px;
                border-radius: 2px;
                background-color: #32ae53;
                top: 0;
                left:0;
                
            }
        }
        &.active {
            .itemArrow {
                transform: rotate(180deg);
            }
            .itemContent {
                padding-top: 40px;
                padding-bottom: 50px;
                height: auto;
                opacity: 1;
                margin-bottom: 30px;
                display: block;
            }
        }
    }
}

.contact {
    position: relative;

    .bg3 {
        position: absolute;
        left: 0;
        top: -100px;
        z-index: -1;
    }
    .map-desktop {
        position: absolute;
        right: 0;
        bottom: 0px;
        max-width: 60%;
    }
    .contactContent {
        width: 40%;
        

        .adresWrap {
            display: flex;
            justify-content: space-between;
            padding-bottom: 75px;
            margin-bottom: 80px;
            position: relative;

            &:after {
                display: block;
                content: '';
                position: absolute;
                width: 143px;
                height: 5px;
                border-radius: 3px;
                background-color: #32ae53;
                left:0;
                bottom: 0;
            }
        }
    
        

        .adresBlock {

            .adressTitle {
                color: #32ae53;
                font-size: 30px;
                font-weight: 700;
                line-height: 30px;
                letter-spacing: 0.6px;
                padding-bottom: 25px;
            }
            .adressContent {
                font-size: 22px;
                font-weight: 300;
                line-height: 27.82px;
                letter-spacing: 0.44px;
            }
        }
    }

    .contactForm {
        .formTitle {
            font-size: 36px;
            font-weight: 700;
            letter-spacing: 0.72px;
            line-height: 40px;
        }
        .formSubtitle {
            font-size: 24px;
            font-weight: 300;
            letter-spacing: 0.48px;
            line-height: 24px;
            padding-bottom: 50px;
        }
        .formWrap {
            display: flex;
            justify-content: space-between;

            .form-group {
                width: 48%;
                margin-bottom: 30px;

                input {
                    height: 49px;
                    line-height: 49px;
                    color: #000000;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 0.32px;
                    padding: 0 30px;
                    border:none;
                    border-radius: 20px;
                    border: 1px solid #dedede;
                    background-color: transparent;
                    width: 100%;
                }

                .label {
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 18px;
                    margin-bottom: 5px;
                    letter-spacing: 0.36px;
                }
            }
        }
        .textarea-group {
            margin-bottom:30px;

            .label {
                font-size: 18px;
                font-weight: 300;
                line-height: 18px;
                margin-bottom: 5px;
                letter-spacing: 0.36px;
            }
            textarea{
                color: #000000;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0.32px;
                padding: 0 30px;
                border:none;
                border-radius: 20px;
                border: 1px solid #dedede;
                background-color: transparent;
                width: 100%;
                min-height: 150px;
            }
        }
        .submitWrap {
            padding-bottom: 120px;

            button {
                padding: 19px 30px;
                width: 100%;
                border-radius: 20px;
                background-color: #32ae53; 
                border:2px solid #32ae53;
                color: #ffffff;
                font-size: 16px;
                font-weight: 700;
                line-height: 16px;
                text-transform: uppercase;
                letter-spacing: 0.32px;   
                transition: all 0.4s ease;
                
                &:hover {
                    background-color: white; 
                    color: #32ae53;
                }
            }
        }
    }
}

.footer {
    border-top: 1px solid #dedede;
    padding-top: 55px;
    position: relative;

    .bg5 {
        position: absolute;
        bottom: 0;
        right: 5%;
        z-index: -1;
    }

    .footerWrap {
        display: flex;
        justify-content: space-between;

        .left-side {
            .footer-menu {
                display: flex;
                margin-bottom: 25px;
                .item {
                    margin-right:30px;
                    a {
                        color: #000000;
                        font-size: 14px;
                        font-weight: 400;

                        &.active, &:hover {
                            font-weight: 700;
                        }
                    }
                }
            }
            .copyright {
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 60px;
            }
        }
        .right-side {
            margin-top: 40px;
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            line-height: 27.82px;
            span {
                font-weight: 700;
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }
}

@media (max-width:1500px){
    
    .header .header-wrap .main-menu-block .main-menu .menu .item {
        padding: 0 10px;
    }
    .logo {
        max-width: 300px;
    }
    
}
@media(max-width:1400px){
    .header .header-wrap {
        margin-right: 30px;
    }
    
    .main-content .slider-block h1 {
        font-size: 80px;
        line-height: 80px;
    }
    .swiper-pagination-progressbar {
        margin-top: 50px;
    }
}

@media(max-width:1200px){
    .logo img {
        max-width: 100%;
    }
    .header .header-wrap .main-menu-block .main-menu .contact-block {
        padding: 0;
    }
    .header .header-wrap .main-menu-block .main-menu .menu .item a {
        padding: 10px 0;
        font-size: 14px;

    }
    .footer .bg5 {
       display: none;   
    }
    .right-side {
        color:black !important;
        span {
            color:black;
        }
    }
    .calculatorWrap .calc .calcBlock .prizeInput input {
        min-width: 200px;
    }
    .calculatorWrap .calc .calcBlock .calcEqal button {
        font-size: 14px;
    }
    .calculatorWrap .calc .calcBlock .equalBlock {
        font-size: 16px;
    }
}

@media(max-width:992px) {
    .main-menu {
        display: none;
    }
    .header .header-wrap .main-menu-block .hamburger {
        display: block;
    }
    .main-menu.active {
        display: block;
        position: fixed;
        top: 100px;
        left:0;
        width: 100%;
        height: calc(100vh - 100px);
        background-color: white;
        z-index: 999;

        .contact-block {
            flex-flow: column;
            justify-content: center;
            align-items: center;
        }
        .menu {
            flex-flow: column; 
            align-items: center;
        }
    }
    .main-content {
        align-items{
            
        }
    }
}