$secondary-font:'Playfair Display', serif;
$primary-font:'Roboto Condensed', sans-serif;

$light-green:#32ae53;
$medium-green:#119759;
$dark-green:#216934;

$light-grey:#f3f3f3;
$light-grey:#dedede;
$light-grey:#dadada;