* {
  box-sizing: border-box; }

body {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  overflow-x: hidden; }

a {
  color: black; }
  a:hover {
    color: black; }

.container {
  max-width: 1390px;
  margin: auto;
  padding: 0 15px;
  width: 100%; }

.container-large {
  max-width: 1770px;
  margin: auto;
  padding: 0 15px;
  width: 100%; }

.header .header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 100px; }
  .header .header-wrap .main-menu-block .hamburger {
    display: none; }
  .header .header-wrap .main-menu-block .main-menu .contact-block {
    display: flex;
    padding: 40px 0 15px 0;
    justify-content: flex-end; }
    .header .header-wrap .main-menu-block .main-menu .contact-block .email {
      display: block;
      padding-right: 50px; }
      .header .header-wrap .main-menu-block .main-menu .contact-block .email a {
        position: relative;
        padding-left: 30px;
        color: #119759;
        font-size: 16px;
        font-weight: 400;
        line-height: 27.82px;
        letter-spacing: 0.32px; }
        .header .header-wrap .main-menu-block .main-menu .contact-block .email a:after {
          display: block;
          position: absolute;
          content: '';
          left: 0;
          top: 50%;
          background-image: url(../img/ico_envelope.png);
          width: 22px;
          height: 17px;
          transform: translateY(-50%); }
    .header .header-wrap .main-menu-block .main-menu .contact-block .telephone {
      display: flex; }
      .header .header-wrap .main-menu-block .main-menu .contact-block .telephone a.first {
        position: relative;
        padding-left: 30px; }
        .header .header-wrap .main-menu-block .main-menu .contact-block .telephone a.first:after {
          display: block;
          position: absolute;
          content: '';
          left: 0;
          top: 50%;
          background-image: url(../img/ico_phone.png);
          width: 22px;
          height: 22px;
          transform: translateY(-50%); }
      .header .header-wrap .main-menu-block .main-menu .contact-block .telephone a {
        color: #119759;
        font-size: 16px;
        font-weight: 400;
        line-height: 27.82px;
        letter-spacing: 0.32px; }
      .header .header-wrap .main-menu-block .main-menu .contact-block .telephone span {
        display: block;
        padding: 0 15px;
        font-size: 16px;
        font-weight: 400;
        line-height: 27.82px;
        color: #119759; }
  .header .header-wrap .main-menu-block .main-menu .menu {
    display: flex; }
    .header .header-wrap .main-menu-block .main-menu .menu .item {
      padding: 0 20px; }
      .header .header-wrap .main-menu-block .main-menu .menu .item:last-child {
        padding-right: 0; }
      .header .header-wrap .main-menu-block .main-menu .menu .item a {
        display: block;
        padding: 15px 0;
        font-size: 16px;
        font-weight: 400;
        position: relative; }
        .header .header-wrap .main-menu-block .main-menu .menu .item a:hover,
        .header .header-wrap .main-menu-block .main-menu .menu .item a .active {
          font-weight: 700; }
          .header .header-wrap .main-menu-block .main-menu .menu .item a:hover:after,
          .header .header-wrap .main-menu-block .main-menu .menu .item a .active:after {
            width: 100%; }
        .header .header-wrap .main-menu-block .main-menu .menu .item a:after {
          position: absolute;
          display: block;
          content: '';
          height: 4px;
          border-radius: 2px;
          background-color: #32ae53;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          transition: all 0.5s ease; }

.main-content {
  height: calc(100vh - 192px);
  margin-top: -25px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-image: url(../img/bg.png);
  background-size: 60%;
  background-position: right top;
  background-repeat: no-repeat; }
  .main-content .slider-block {
    max-width: 530px; }
    .main-content .slider-block h1 {
      font-family: "Playfair Display", serif;
      font-size: 162px;
      font-weight: 700;
      line-height: 162px;
      text-transform: uppercase;
      letter-spacing: 2.4px;
      margin: 0;
      margin-bottom: 30px; }
    .main-content .slider-block .swip-navi {
      display: flex;
      position: relative;
      margin-top: 30px;
      justify-content: space-between; }
      .main-content .slider-block .swip-navi .nav {
        position: relative;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-end; }
        .main-content .slider-block .swip-navi .nav .swiper-button-prev {
          position: static;
          width: 37px;
          height: 16px;
          background-image: url(../img/arrow-left.png);
          background-size: contain;
          background-repeat: no-repeat;
          left: 0;
          top: 0;
          transform: translateY(0);
          margin-top: 0; }
        .main-content .slider-block .swip-navi .nav .swiper-button-next {
          position: static;
          width: 37px;
          height: 16px;
          background-image: url(../img/arrow-right.png);
          background-size: contain;
          background-repeat: no-repeat;
          left: 0;
          top: 0;
          transform: translateY(0);
          margin-top: 0;
          margin-left: 5px; }

.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 8px;
  left: 0;
  top: 0;
  border-radius: 4px; }

.swiper-pagination-progressbar {
  background: #f3f3f3;
  position: relative;
  margin-top: 100px;
  border: 1px solid #dedede;
  background-color: #f3f3f3; }

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #119759;
  border: 1px solid #119759; }

.text {
  font-size: 18px;
  font-weight: 300;
  line-height: 27.82px;
  letter-spacing: 0.36px; }

.aboutUs {
  padding-bottom: 120px;
  position: relative; }
  .aboutUs .bg1 {
    position: absolute;
    right: 0;
    bottom: -100px;
    z-index: -1; }
  .aboutUs .bg2 {
    position: absolute;
    left: 0;
    bottom: -200px;
    z-index: -1; }

.sector h2 {
  padding-top: 110px;
  border-top: 1px solid #dadada;
  margin: 0;
  padding-bottom: 80px; }
  .sector h2 span {
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 1.44px;
    position: relative; }
    .sector h2 span:after {
      display: block;
      position: absolute;
      content: '';
      width: 126px;
      height: 94px;
      background-image: url(../img/elips.png);
      background-size: contain;
      left: -35px;
      top: -40px; }

.prizeList {
  padding-bottom: 110px;
  position: relative; }
  .prizeList .moneyBg {
    position: absolute;
    right: 100px;
    bottom: -50px;
    z-index: -1; }
  .prizeList .withIco {
    font-size: 20px;
    font-weight: 700;
    line-height: 27.82px;
    position: relative;
    padding-left: 60px;
    margin-bottom: 25px; }
    .prizeList .withIco:after {
      width: 35px;
      height: 35px;
      display: block;
      position: absolute;
      content: '';
      background-image: url(../img/ico_info.png);
      background-size: contain;
      left: 0;
      top: 50%;
      transform: translateY(-50%); }
  .prizeList .greenInfo {
    color: #32ae53;
    font-size: 24px;
    font-weight: 700;
    line-height: 27.82px;
    text-transform: uppercase;
    letter-spacing: 0.48px; }

.calculatorWrap {
  background-image: url(../img/calcBg.png);
  background-position: center;
  background-size: 120% 100%; }
  .calculatorWrap .calc {
    padding: 85px 0; }
    .calculatorWrap .calc .title {
      color: #ffffff;
      font-size: 36px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0.72px;
      margin-bottom: 20px; }
      .calculatorWrap .calc .title span {
        font-weight: 400;
        letter-spacing: 0.72px; }
    .calculatorWrap .calc .calcBlock {
      display: flex;
      justify-content: space-between; }
      .calculatorWrap .calc .calcBlock .prizeInput input {
        min-width: 320px;
        height: 49px;
        border-radius: 20px;
        background-color: #ffffff;
        line-height: 49px;
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.32px;
        padding: 0 30px;
        border: none; }
      .calculatorWrap .calc .calcBlock .calcEqal {
        display: flex;
        align-items: center; }
        .calculatorWrap .calc .calcBlock .calcEqal label {
          color: #ffffff;
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.32px;
          margin-right: 15px; }
        .calculatorWrap .calc .calcBlock .calcEqal button {
          color: #ffffff;
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.32px;
          display: flex;
          height: 49px;
          padding: 0 25px;
          border-radius: 20px;
          background-color: #000000;
          border: 2px solid black;
          margin-left: 5px;
          transition: all 0.4s ease; }
          .calculatorWrap .calc .calcBlock .calcEqal button:hover {
            color: black;
            background-color: transparent; }
          .calculatorWrap .calc .calcBlock .calcEqal button span {
            font-weight: 400;
            letter-spacing: 0.32px;
            display: block;
            margin-left: 5px; }
      .calculatorWrap .calc .calcBlock .equalBlock {
        display: flex;
        align-items: center;
        color: #ffffff;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.44px; }
        .calculatorWrap .calc .calcBlock .equalBlock .light {
          font-weight: 400; }
        .calculatorWrap .calc .calcBlock .equalBlock .label {
          margin-right: 30px;
          display: block; }
        .calculatorWrap .calc .calcBlock .equalBlock .current {
          display: block;
          margin-right: 10px; }

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: none;
  border-radius: 20px;
  height: 49px;
  line-height: 49px;
  width: 116px;
  position: relative; }

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 24px;
  padding-right: 20px;
  line-height: 49px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 49px;
  position: absolute;
  top: 1px;
  right: 1px;
  background-image: url(../img/arrow-down.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 30px; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none; }

.select2-container {
  width: 116px !important; }

.faq {
  padding-bottom: 100px;
  position: relative; }
  .faq .bg4 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1; }
  .faq h2 {
    border-top: none; }
  .faq .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 27.82px;
    letter-spacing: 0.4px;
    padding-bottom: 45px; }
  .faq .item .itemTitleWrap {
    font-size: 24px;
    font-weight: 300;
    line-height: 27.82px;
    letter-spacing: 0.48px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    cursor: pointer; }
    .faq .item .itemTitleWrap .itemArrow {
      width: 22px;
      height: 22px;
      background-image: url(../img/faq-arrow.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transform: rotate(0);
      transition: all 0.4s ease; }
  .faq .item .itemContent {
    padding-top: 0px;
    position: relative;
    font-size: 18px;
    font-weight: 300;
    line-height: 27.82px;
    letter-spacing: 0.36px;
    padding-bottom: 0px;
    border-bottom: 1px solid #dedede;
    opacity: 0;
    height: 0;
    transition: all 0.4s ease;
    margin-bottom: 0px;
    display: none; }
    .faq .item .itemContent:after {
      display: block;
      position: absolute;
      content: '';
      width: 120px;
      height: 4px;
      border-radius: 2px;
      background-color: #32ae53;
      top: 0;
      left: 0; }
  .faq .item.active .itemArrow {
    transform: rotate(180deg); }
  .faq .item.active .itemContent {
    padding-top: 40px;
    padding-bottom: 50px;
    height: auto;
    opacity: 1;
    margin-bottom: 30px;
    display: block; }

.contact {
  position: relative; }
  .contact .bg3 {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: -1; }
  .contact .map-desktop {
    position: absolute;
    right: 0;
    bottom: 0px;
    max-width: 60%; }
  .contact .contactContent {
    width: 40%; }
    .contact .contactContent .adresWrap {
      display: flex;
      justify-content: space-between;
      padding-bottom: 75px;
      margin-bottom: 80px;
      position: relative; }
      .contact .contactContent .adresWrap:after {
        display: block;
        content: '';
        position: absolute;
        width: 143px;
        height: 5px;
        border-radius: 3px;
        background-color: #32ae53;
        left: 0;
        bottom: 0; }
    .contact .contactContent .adresBlock .adressTitle {
      color: #32ae53;
      font-size: 30px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0.6px;
      padding-bottom: 25px; }
    .contact .contactContent .adresBlock .adressContent {
      font-size: 22px;
      font-weight: 300;
      line-height: 27.82px;
      letter-spacing: 0.44px; }
  .contact .contactForm .formTitle {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    line-height: 40px; }
  .contact .contactForm .formSubtitle {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.48px;
    line-height: 24px;
    padding-bottom: 50px; }
  .contact .contactForm .formWrap {
    display: flex;
    justify-content: space-between; }
    .contact .contactForm .formWrap .form-group {
      width: 48%;
      margin-bottom: 30px; }
      .contact .contactForm .formWrap .form-group input {
        height: 49px;
        line-height: 49px;
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.32px;
        padding: 0 30px;
        border: none;
        border-radius: 20px;
        border: 1px solid #dedede;
        background-color: transparent;
        width: 100%; }
      .contact .contactForm .formWrap .form-group .label {
        font-size: 18px;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 5px;
        letter-spacing: 0.36px; }
  .contact .contactForm .textarea-group {
    margin-bottom: 30px; }
    .contact .contactForm .textarea-group .label {
      font-size: 18px;
      font-weight: 300;
      line-height: 18px;
      margin-bottom: 5px;
      letter-spacing: 0.36px; }
    .contact .contactForm .textarea-group textarea {
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.32px;
      padding: 0 30px;
      border: none;
      border-radius: 20px;
      border: 1px solid #dedede;
      background-color: transparent;
      width: 100%;
      min-height: 150px; }
  .contact .contactForm .submitWrap {
    padding-bottom: 120px; }
    .contact .contactForm .submitWrap button {
      padding: 19px 30px;
      width: 100%;
      border-radius: 20px;
      background-color: #32ae53;
      border: 2px solid #32ae53;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      text-transform: uppercase;
      letter-spacing: 0.32px;
      transition: all 0.4s ease; }
      .contact .contactForm .submitWrap button:hover {
        background-color: white;
        color: #32ae53; }

.footer {
  border-top: 1px solid #dedede;
  padding-top: 55px;
  position: relative; }
  .footer .bg5 {
    position: absolute;
    bottom: 0;
    right: 5%;
    z-index: -1; }
  .footer .footerWrap {
    display: flex;
    justify-content: space-between; }
    .footer .footerWrap .left-side .footer-menu {
      display: flex;
      margin-bottom: 25px; }
      .footer .footerWrap .left-side .footer-menu .item {
        margin-right: 30px; }
        .footer .footerWrap .left-side .footer-menu .item a {
          color: #000000;
          font-size: 14px;
          font-weight: 400; }
          .footer .footerWrap .left-side .footer-menu .item a.active, .footer .footerWrap .left-side .footer-menu .item a:hover {
            font-weight: 700; }
    .footer .footerWrap .left-side .copyright {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 60px; }
    .footer .footerWrap .right-side {
      margin-top: 40px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 27.82px; }
      .footer .footerWrap .right-side span {
        font-weight: 700;
        margin-left: 15px;
        margin-right: 15px; }

@media (max-width: 1500px) {
  .header .header-wrap .main-menu-block .main-menu .menu .item {
    padding: 0 10px; }
  .logo {
    max-width: 300px; } }

@media (max-width: 1400px) {
  .header .header-wrap {
    margin-right: 30px; }
  .main-content .slider-block h1 {
    font-size: 80px;
    line-height: 80px; }
  .swiper-pagination-progressbar {
    margin-top: 50px; } }

@media (max-width: 1200px) {
  .logo img {
    max-width: 100%; }
  .header .header-wrap .main-menu-block .main-menu .contact-block {
    padding: 0; }
  .header .header-wrap .main-menu-block .main-menu .menu .item a {
    padding: 10px 0;
    font-size: 14px; }
  .footer .bg5 {
    display: none; }
  .right-side {
    color: black !important; }
    .right-side span {
      color: black; }
  .calculatorWrap .calc .calcBlock .prizeInput input {
    min-width: 200px; }
  .calculatorWrap .calc .calcBlock .calcEqal button {
    font-size: 14px; }
  .calculatorWrap .calc .calcBlock .equalBlock {
    font-size: 16px; } }

@media (max-width: 992px) {
  .main-menu {
    display: none; }
  .header .header-wrap .main-menu-block .hamburger {
    display: block; }
  .main-menu.active {
    display: block;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: white;
    z-index: 999; }
    .main-menu.active .contact-block {
      flex-flow: column;
      justify-content: center;
      align-items: center; }
    .main-menu.active .menu {
      flex-flow: column;
      align-items: center; } }
